<div id="main-container" class="container-fluid w-100 p-3">
    <div class="row">
      <div class="col-md-6">
        <div class="entry-header">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar.....">
                <span class="input-group-btn">
                  <select class="btn btn-secondary">
                    <option>Inches</option>
                    <option>Feet</option>
                    <option>mm</option>
                  </select>
                </span>
                <span class="input-group-btn">
                  <select class="btn btn-secondary">
                    <option>Inches</option>
                    <option>Feet</option>
                    <option>mm</option>
                  </select>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-primary">Buscar</button>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="entry-footer">
          <div *ngIf="lat && lng">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng">
                <agm-info-window>
                  <h3><strong>Usuario</strong></h3>
                  <p>Esoy aquiii!</p>
                </agm-info-window>
              </agm-marker>
              <agm-marker *ngFor="let user of users; let i = index" [latitude]="user.user.latitud" [longitude]="user.user.longitud"
                #idid [iconUrl]="'../../../assets/imhere.png'" id="marker1">
                <agm-info-window>
                  <h3><strong>{{user.user.name}} {{user.user.surnames}}</strong></h3>
                  <p>Hey puedes contactarme, estoy a tan solo {{user.km}} km, de donde tu estas</p>
                  <button class="btn btn-primary" (click)="getUserById(user.user._id)">Ver perfi</button>
                </agm-info-window>
              </agm-marker>
              <agm-circle [latitude]="lat" [longitude]="lng" [radius]="radius" [fillColor]="'#aeefee'" [circleDraggable]="false"
                [editable]="false">
              </agm-circle>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="profile-container">
        <div class="container-fluid">
          <div class="col-md-12 entry-header">
            <h1>Detalles Perfil</h1>
          </div>
          <div class="col-md-12 entry-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <h2 id="fullname">Name</h2>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <h3 id="email">Email</h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <h3 id="phone">Teléfono</h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <h3 id="gender">Genero</h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <h3 id="birthdate">Fecha Nacimiento</h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <h3 id="profession">Profesión</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>